* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  
    }
  
  
  
  
  
  body{ background-image: url("image/shadow.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size:cover;
      margin: 0;
  
  }
  
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: black;
    }
  
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  h1.tit {
      position: absolute;
      text-align: center;
      top: 50%;
      width: 100%;
      font-size: 30px;
      color: white;
      
  }
  
  footer.foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    }

    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
      }


      .contact {
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        font-size: 30px;
        color: white;
        
    }

    .heading h1{
      font-size: 50px;
      color: brown;
      margin-bottom: 25px;
      text-align: center;
    }